<input type="number" #num1>
<input type="number" #num2>
<button (click)="sumar(num1.value, num2.value)">Sumar</button>
<button (click)="resultado=0; num1.value=''; num2.value='';">Limpiar</button>
<h1>El resultado es : {{resultado}}</h1>

<input type="number" #num3>
<input type="number" #num4>
<button (click)="restar(num3.value, num4.value)">Restar</button>
<button (click)="resultado2=0; num1.value=''; num2.value='';">Limpiar</button>
<h1>El resultado es : {{resultado2}}</h1>

<input type="number" #num5>
<input type="number" #num6>
<button (click)="multiplicar(num5.value, num6.value)">Multiplicar</button>
<button (click)="resultado3=0; num5.value=''; num6.value='';">Limpiar</button>
<h1>El resultado es : {{resultado3}}</h1>
